* {
    background-color: rgb(10,10,10);
    padding: 0;
    margin: 0 auto;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position:fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 50;
    overflow-x: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    background-color: rgb(40,40,40,.09);
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    background-color: rgb(40,40,40,.09);
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.5s; /* Transition effects on hover (color) */
    background-color: rgb(40,40,40,.09);
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

#tabbar {
    height: 40px;
    background-color: rgb(25,25,25);
  }

  #tabbar a {
    background-color: transparent;
    font-size:35px;
    font-weight: bold;
    color: white;
    padding: 0.5em 0.05em;
    transition: font-size 0.25s ease-in-out;
  }

  #tabbar a:hover {
    cursor:pointer;
  }

  #hamburger {
    padding: 0.5em !important;
  }

  #documentationList {
    background-color: rgb(40,40,40);
  }

  .title_font {
    font-family: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
  }

  .smaller_font {
    font-size:25px !important;
  }